<template>
    <div class="modal fade" id="deleteOrder" tabindex="-1" role="dialog" aria-labelledby="deleteOrderLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteOrderLabel">Delete order</h5>
                    <button type="button" ref="close" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p class="modal-text">Are you sure you want to transfer the order to the Recycle bin?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>

                   <!-- <button v-on:click="$emit('delete-order', index)" type="button"
                            class="btn btn-danger">Yes
                    </button>-->
                    <button v-on:click="deleteOrder" type="button"
                            class="btn btn-danger">Yes
                    </button>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data: function () {
            return {
                index: 0
            }
        },
        methods: {
            deleteOrder: function () {
                this.$parent.$data.orders.splice(this.index.split(',')[0], 1);
                this.$parent.addIndex();
                console.log();
                this.$refs.close.click();
                axios.post(`/admin/order/delete/${this.index.split(',')[1]}`).then(() => {
                    console.log('Deleted ' + this.index.split(',')[1]);
                });
            }
        }
    }
</script>